<%= form_for @order do |f| %>
  <ul>
    <% @products.each do |product| %>
      <%= f.fields_for :product_requests, product.product_requests.new do |pr| -%>
        <li>
          <label for="product"><%= product.name %></label>
            <%= number_field_tag "order[product_requests_attributes][][quantity]", nil, min: 0 %> 
            <%= hidden_field_tag "order[product_requests_attributes][][product_id]", product.id %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <input type="submit" value="Place Order">  
<% end  %>
